@page
@model RazorBoatApp2026.Pages.Bookings.CreateBookingModel
<h1>Create Booking</h1>
<div>
    <label for="phone">Phone Number</label>
    <input type="text" id="phone" name="phone" required minlength="8" maxlength="8" />
</div>
<div>
    <label for="startdate">Start Date</label>
    <input type="date" id="startdate" name="startdate" />
</div>
<div>
    <label for="enddate">End Date</label>
    <input type="date" id="enddate" name="enddate" />
</div>
@{
}
